/* Add here all your CSS customizations */

/* Used for smooth scrolling and fixing anchor behind nav issue */
html {
  scroll-behavior: smooth;
}

.anchor a {
  position: absolute;
  left: 0px;
  top: -50px;
}

.anchor {
  position: relative;
}

/* Custom Page Header  */
.custom-header-color{
  /* background-color: #47648B; */
  background-color: #d5d5d5;
}

/* .custom-footer-ribbon{
  background-color: #f3f3f3;
} */

.border { 
  border-color: #e7deff;
}